.colorex {
    --border-width: 2px;
    --space-between: 15px;
    --gradient-selector-size: 30px;
    --gradient-size: 300px;
    --picker-selector-size: 14px;
    --picker-size: 40px;
    --alpha-background: #eeeeee;
    display: flex;
}

.colorex.horizontal {
    flex-direction: column;
}

.colorex .picker {
    position: relative;
    border: var(--border-width) solid lightgrey;
}

.colorex .selector {
    position: absolute;
    border: var(--border-width) solid white;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    transition: left 0.2s ease, top 0.2s ease;
    z-index: 1;
}

.colorex .gradient {
    width: var(--gradient-size);
    height: var(--gradient-size);
}

.colorex > *.horizontal:not(:first-child) {
    margin-top: var(--space-between);
}

.colorex > *:not(.horizontal):not(:first-child) {
    margin-left: var(--space-between);
}

.colorex .gradient .selector {
    width: var(--gradient-selector-size);
    height: var(--gradient-selector-size);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.colorex:not(.horizontal) .rainbow,
.colorex:not(.horizontal) .alpha {
    width: var(--picker-size);
    height: var(--gradient-size);
}

.colorex.horizontal .rainbow,
.colorex.horizontal .alpha {
    width: var(--gradient-size);
    height: var(--picker-size);
}

.colorex .rainbow:not(.horizontal) .selector,
.colorex .alpha:not(.horizontal) .selector {
    width: calc(100% + var(--border-width) + var(--border-width));
    height: var(--picker-selector-size);
    transform: translate(calc(0px - var(--border-width) - var(--border-width)), -50%);
}

.colorex .rainbow.horizontal .selector,
.colorex .alpha.horizontal .selector {
    height: calc(100% + var(--border-width) + var(--border-width));
    width: var(--picker-selector-size);
    top: 0;
    transform: translate(-50%, calc(0px - var(--border-width) - var(--border-width)));
}